<section class="posts">
  <include
    src="./onepost.html"
    posttitle="Titulo del post 1"
    posttext="Contenido 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, repellendus! Commodi tenetur excepturi, doloribus,
    mollitia amet fugiat esse a error et eos laboriosam numquam qui praesentium incidunt voluptas quibusdam cupiditate!"
    ></include>

  <include
    src="./onepost.html"
    posttitle="Titulo del post 2"
    posttext="Oveja!!"
    ></include>

  <include
    src="./onepost.html"
    posttitle="Titulo del post 3"
    posttext="Contenido 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, repellendus! Commodi tenetur excepturi, doloribus,
    mollitia amet fugiat esse a error et eos laboriosam numquam qui praesentium incidunt voluptas quibusdam cupiditate!"
    ></include>

</section>